<h1>This is the home page for ejs

</h1>

<a href="questions/options/vote"><button>Show Questions</button></a>
<a href="questions/create"><button>Create Question</button></a>

<a href="questions/delete"><button>Delete A Question</button></a>