
<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
    <h1>This is home page for Polling API </h1>

<h5>Use following url's </h5>
<ol>
    <li> For Fetching all Questions click <u>http://csvuploadst.world/api/v1/questions </u> </li>
    <br>
    <li> For Fetching a Questions use <u>http://csvuploadst.world/api/v1/questions/:id</u> </li>
    <ul>
        <li><h5>Replace ":id"  with the id of the question u want to fetch</h5></li>
    </ul>
    <br>
    <li> For creating a Questions use <u >http://csvuploadst.world/api/v1/questions/create</u> </li>
    <br>
    <li> For creating a option use <u >http://csvuploadst.world/api/v1/questions/:id/options/create</u> </li>
    <ul>
        <li><h5>Replace ":id"  with the id of the question u want to create option for</h5></li>
    </ul>
    <br>
    <li> For deleting a Questions use <u>http://csvuploadst.world/api/v1/questions/:id/delete</u> </li>
    <ul>
        <li><h5>Replace ":id"  with the id of the question u want to delete</h5></li>
    </ul>
    <br>
    <li> For deleting a option use <u>http://csvuploadst.world/api/v1/questions/:id/options/:optionid/delete</u> </li>
    <ul>
        <li>Replace ":id"  with the id of the question and ":optionid" with option's id that you want to delete</li>
    </ul>
</ol>
<a href="http://localhost:8000/api/v1/questions"><button>Show Questions</button></a>
<!-- <a href="questions/create"><button>Create Question</button></a> -->

<!-- <a href="questions/delete"><button>Delete A Question</button></a> -->
</div>